<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>    
    </head>
    <body id="<%= pageID %>">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-collapsed" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/movie" class="navbar-brand">Jason Movie</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">로그인</a></li>
                        <li><a href="#">전체메뉴</a><li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="영화검색">
                        </div>
                        <button type="submit" class="btn btn-default">확인
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <p class="nav">네이버 영화</p>
                    <ul class="nav navbar">
                        <li class="active"><a href="#">영화홈</a></li>
                        <li><a href="#">상영작-예정작</a></li>
                        <li><a href="#">영화랭킹</a></li>
                        <li><a href="#">예매</a></li>
                        <li><a href="#">평점,리뷰</a></li>
                        <li><a href="#">다운로드</a></li>
                    </ul>
                    <p>인디극장</p>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="#"><img src="/images/movie_thumbnail/poster.jpg" alt="movie0"></img></a>
                                <span><a href="#">별점</a></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="#"><img src="/images/movie_thumbnail/poster.jpg" alt="movie1"></img></a>
                                <span><a href="#">별점</a></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="#"><img src="/images/movie_thumbnail/poster.jpg" alt="movie2"></img></a>
                                <span><a href="#">별점</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a href="#"><img src="/images/movie_thumbnail/poster.jpg" alt="movie3"></img></a>
                                <span><a href="#">별점</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="btn-group" role="group" aria-label="movie-1">
                            <div type="butotn" class="btn btn-default">예매순</div>
                            <div type="butotn" class="btn btn-default">현재상영작</div>
                            <div type="butotn" class="btn btn-default">개봉예정작</div>
                            <div type="butotn" class="btn btn-default">평점순</div>
                            <div type="butotn" class="btn btn-default">박스오피스</div>
                            <div type="butotn" class="btn btn-default">다운로드순</div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="movie-rate">
                                    <h1>평점&nbsp;&&nbsp;리뷰</h1>
                                    <div class="col-sm-3">
                                        <img src="/images/movie_thumbnail/poster.jpg" alt="img-rate-small" width="100%" height="100%"></img>
                                    </div>
                                    <div class="col-sm-9">
                                        <span>movie title</span>
                                        <span class="movie-star-rate">
                                            <em class="fa fa-star checked"></em>
                                            <em class="fa fa-star checked"></em>
                                            <em class="fa fa-star checked"></em>
                                            <em class="fa fa-star"></em>
                                            <em class="fa fa-star"></em>
                                        </span>
                                        <div class="container">
                                            <p>It's really awesome</p>
                                            <p>It's really awesome1</p>
                                            <p>It's really awesome2</p>
                                            <p>It's really awesome3</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="movie-rate">
                                    <h1>스포트라이트</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </body>
</html>